@use './base/base';
@use './components/menu';
@use './layout';
@use './pages/home';

.home {
    background-image: url(../images/home-bg.png);
    background-position: center;
    background-size: cover;
}

.shopping {
    background-image: url(../images/shop-bg.png);
    background-position: center;
    background-size: cover;
}